flask
flask-cors
flask_sqlalchemy
flask-migrate
flask-jwt-extended
flask-restful

gunicorn
python-dotenv

pandas
numpy
scikit-learn
xgboost
shap
joblib

PyPDF2
pdf2image
pytesseract
Pillow
reportlab

sqlalchemy

requests

python-dateutil
opencv-python-headless

transformers
torch
sentencepiece
